<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>News</string>
	<string>Business</string>
	<string>Academy</string>
	<string>Technology &amp; Science</string>
	<string>Design &amp; Image</string>
	<string>Art &amp; Culture</string>
	<string>Life</string>
	<string>Fashion</string>
	<string>Music</string>
	<string>Sports</string>
</array>
</plist>
